<%- include ('../template/header') %>

  <%- include ('../template/nav') -%>


    <!-- about section -->

    <section class="about_section layout_padding">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="images/about-img.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  We Are <span>Shifting House</span>
                </h2>
              </div>
              <p>
                If you’re somebody who lives with a long-term illness or disability or you care for someone who does,
                it’s likely that you rely on regular prescription medication. While NHS prescriptions are usually
                affordable (and sometimes even free) to the people who use them most, the process of picking up a
                prescription, taking it into your pharmacy and paying on a regular basis can be inconvenient and
                time-consuming.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <%- include ('../template/footer') %>


      <!-- jQery -->
      <script src="js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <!-- bootstrap js -->
      <script src="js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="js/custom.js"></script>

      </body>

      </html>