<%- include ('../template/header') %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <%- include ('../template/nav') -%>


    <br>


    <label for="shopmap">Pin your location</label>
    <div id="shopmap">

    </div>
    <br>
    <!-- Admin service section -->

    <section class="service_section layout_padding-bottom">
      <div class="service_container">
        <div class="container" id="viwe">
          <div class="heading_container heading_center">
            <h2>
              Viwe <span>Product</span>
            </h2>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            </p>
          </div>
          <div class="row" id="data">
           
          </div>

        </div>


        <div class="btn-box">
          <a href="/services">
            View More
          </a>
        </div>

    </section>

    <!-- end service section -->


    <!-- call section -->

    <section class="call_section ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="images/call-img.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h5>
                Call Us Today
              </h5>
              <h3>
                +880 1601XXXXXX
              </h3>
              <p>
                If you’re somebody who lives with a long-term illness or disability or you care for someone who does,
                it’s likely that you rely on regular prescription medication. While NHS prescriptions are usually
                affordable (and sometimes even free) to the people who use them most, the process of picking up a
                prescription, taking it into your pharmacy and paying on a regular basis can be inconvenient and
                time-consuming.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end call section -->

    <!-- faq section -->

    <!-- remove -->

    <!-- end faq section -->

    <!-- Offer section -->


    <!-- end Offer section -->

    <% if(!uId) { %>

      <!-- contact section -->
      <section class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-lg-9 mx-auto">
              <div class="map_form_container">
                <div class="form_container">
                  <div class="heading_container heading_center">
                    <h2 class="contact_heading">
                      Contact <span>Us</span>
                    </h2>
                  </div>
                  <form action="">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="First Name" />
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="Email" />
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Phone Number" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <input type="text" class="message-box" placeholder="Message" />
                    </div>
                    <div class="btn-box">
                      <button type="submit" class="submit_btn">
                        Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end contact section -->
      <% } else{ %>
        <br>
        <% } %>



          <% if(uId) { %>
            <script src="/js/custom.js"></script>
            <% } else{ %>
              <script src="/js/home.js"></script>
              <% } %>



                <%- include ('../template/footer') %>


                  <!-- jQery -->
                  <script src="js/jquery-3.4.1.min.js"></script>
                  <!-- popper js -->
                  <script src="js/popper.min.js"></script>
                  <!-- bootstrap js -->
                  <script src="js/bootstrap.js"></script>
                  <!-- custom js -->
                  <script src="js/custom.js"></script>

                  <script>
                    const getdiv2 = document.getElementById("data")
                    console.log("2", getdiv2)
                    const markers = []
                    let demo = []
                    let curentlat = 0.00
                    let curentlng = 0.00
                    function calculateDistance(lat1, lon1, lat2, lon2, unit) {
                      var radlat1 = Math.PI * lat1 / 180
                      var radlat2 = Math.PI * lat2 / 180
                      var radlon1 = Math.PI * lon1 / 180
                      var radlon2 = Math.PI * lon2 / 180
                      var theta = lon1 - lon2
                      var radtheta = Math.PI * theta / 180
                      var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                      dist = Math.acos(dist)
                      dist = dist * 180 / Math.PI
                      dist = dist * 60 * 1.1515
                      if (unit == "K") { dist = dist * 1.609344 }
                      if (unit == "N") { dist = dist * 0.8684 }
                      return dist
                    }
                    const map = L.map('shopmap', { doubleClickZoom: false }).locate({ setView: true, maxZoom: 30 });

                    const searchInput = document.getElementById('searchmedi')
                    searchInput.addEventListener('input', e => {
                      console.log(e.target.value)
                      fetch(`/searchmedicine?mname=${e.target.value}`,
                      ).then(
                        res => res.json()
                      ).then(data => {
                        console.log(data)
                        console.log("on funtion", curentlat)

                        for (i = 0; i < data.length; i++) {
                          data[i]["distance"] = calculateDistance(curentlat, curentlng, data[i]["lat"], data[i]["lng"]);
                        }

                        data.sort(function (a, b) {
                          return a.distance - b.distance;
                        });


                        markers.forEach(m => map.removeLayer(m))
                        for (i = 0; i < data.length; i++) {
                          var marker = L.marker([data[i].lat, data[i].lng], {
                            draggable: false,
                            autoPan: true
                          }).addTo(map);
                          if (i === 0) {
                            marker.bindPopup(`${data[i].shopname}.<br> ${data[i].mediname}(${data[i].medistrength})<br>Price:${data[i].price} tk`).openPopup()
                          } else {
                            marker.bindPopup(`${data[i].shopname}.<br> ${data[i].mediname}(${data[i].medistrength})<br> Price:${data[i].price} tk`)
                          }
                          markers.push(marker)


                        }
                        let newHtml = ''
                        for (i = 0; i < data.length; i++) {
                          console.log(data.length)
                          newHtml += ` 
                   
            <div class="col-sm-6 col-lg-4 mx-auto ">
              <div class="box">
                <div class="img-box">
                  <img src="images/s1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    ${data[i].shopname}
                  </h5>
                  <p>
                    ${data[i].mediname} (${data[i].meditype})
                  </p>
                  <p>
                    ${data[i].medigeneric} (${data[i].medistrength})
                  </p>
                  
                  <h5>
                    Price ${data[i].price} BDT (per pice)
                  </h5>
                </div>
                <div class="btn-box">
                  <a href="/login">
                    Order
                  </a>
                </div>
              </div>
            </div>
                          `
                        }
                        getdiv2.innerHTML = newHtml

                        console.log('sorted data', newHtml)

                        demo = data
                      })

                    })

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                      maxZoom: 19,
                      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    navigator.geolocation.getCurrentPosition(position => {
                      const { coords: { latitude, longitude } } = position;
                      curentlat = latitude;
                      curentlng = longitude;
                      console.log("map data1", curentlat)

                      //new
                      var greenIcon = L.icon({
                        iconUrl: 'images/map-marker.png',
                        // shadowUrl: 'http://leafletjs.com/examples/custom-icons/leaf-shadow.png',
                        iconSize: [15, 45], // size of the icon
                        // shadowSize: [50, 64], // size of the shadow
                        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
                        shadowAnchor: [4, 62],  // the same for the shadow
                        popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                      });
                      //
                      var marker = L.marker([latitude, longitude], {
                        // icon: greenIcon,
                        draggable: true,
                        autoPan: true,
                      }).addTo(map);
                      marker.bindPopup(`current location`).openPopup()

                      marker.on("drag", function (e) {
                        var marker = e.target;
                        var position = marker.getLatLng();
                        console.log(position)
                      });
                      console.log(marker);
                      var circle = L.circle([latitude, longitude], {
                        color: '#8fce00',
                        fillColor: '#d9ead3',
                        fillOpacity: 0.5,
                        radius: 300
                      }).addTo(map);
                    })
                    console.log("map data", curentlat)
                  </script>
                  </body>

                  </html>