<%- include ('../template/header') %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <%- include ('../template/nav') -%>


    <br>


    <label for="shopmap">Pin your location</label>
    <div id="shopmap">

    </div>
    <br>
    <!-- Admin service section -->

    <section class="service_section layout_padding-bottom">
      <div class="service_container">
        <div class="container" id="viwe">
          <div class="heading_container heading_center">
            <h2>
              Viwe <span>Product</span>
            </h2>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            </p>
          </div>
          <div class="row" id="data">
           
          </div>

        </div>


        

    </section>

    <!-- end service section -->


    <!-- call section -->

    <section class="call_section ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="images/call-img.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <h5>
                Call Us Today
              </h5>
              <h3>
                +880 1601XXXXXX
              </h3>
              <p>
                If you’re somebody who lives with a long-term illness or disability or you care for someone who does,
                it’s likely that you rely on regular prescription medication. While NHS prescriptions are usually
                affordable (and sometimes even free) to the people who use them most, the process of picking up a
                prescription, taking it into your pharmacy and paying on a regular basis can be inconvenient and
                time-consuming.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end call section -->

    <!-- faq section -->

    <!-- remove -->

    <!-- end faq section -->

    <!-- Offer section -->


    <!-- end Offer section -->

    <% if(!uId) { %>

      <!-- contact section -->
      <section class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-11 col-lg-9 mx-auto">
              <div class="map_form_container">
                <div class="form_container">
                  <div class="heading_container heading_center">
                    <h2 class="contact_heading">
                      Contact <span>Us</span>
                    </h2>
                  </div>
                  <form action="">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="First Name" />
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="Email" />
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Phone Number" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <input type="text" class="message-box" placeholder="Message" />
                    </div>
                    <div class="btn-box">
                      <button type="submit" class="submit_btn">
                        Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end contact section -->
      <% } else{ %>
        <br>
        <% } %>



          <% if(uId) { %>
            <script src="/js/custom.js"></script>
            <% } else{ %>
              <script src="/js/home.js"></script>
              <% } %>



                <%- include ('../template/footer') %>


                  <!-- jQery -->
                  <script src="js/jquery-3.4.1.min.js"></script>
                  <!-- popper js -->
                  <script src="js/popper.min.js"></script>
                  <!-- bootstrap js -->
                  <script src="js/bootstrap.js"></script>
                  <!-- custom js -->
                  <script src="js/custom.js"></script>
                  <script src="js/home.js"></script>

                  <script>
                    
                  </script>
                  </body>

                  </html>