<!--google material icon-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-info fw-bold">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/EMF.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      EMF
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login" value="user" id="user">Login</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" oninput="getSearch(event)" name="name" placeholder="Search"
          aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Default dropstart button -->
      <div class="dropstart nav navbar-nav">
        <a class="dropdown-toggle nav-link" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="material-icons">person</span>          
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="#">Name</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>

      


    </div>
  </div>
</nav>